extends base/_layout.pug

block styles

block content
  article.main
    section.text-center.soon
      .container
        .row
          .col-xs-12
            h1.heading
              | We will open very soon!
            p.sub-heading
              | We will notify you by email at once!
            



