extends base/_layout.pug

block styles

block content
  article.main
    header.header
      .container
        .row
          .col-xs-12
            h1.text-center.heading Some of our stars:
              span.text-uppercase.heading-newline Madonna,...

          .row
            .col-xs-12
              .auth.text-center
                p.auth__descr
                  | And also more than 1000 most fashionable people of the planet
                p.auth__descr
                  | Every day we will send you the Best Looks. By email, in messenger
                  span.auth__descr-newline
                    | You will also be able to choose what artists to monitor.
                a.btn.btn-primary.text-uppercase.auth__btn Facebook login